# requirements.txt for excel2template.py
# for python 3.13
altgraph
et_xmlfile
importlib_metadata
macholib
openpyxl
packaging
python-dateutil
six
zipp
# When building an executable using PyInstaller, install the following packages.
# pyinstaller
